.previewer ul{
    margin:0px;
    padding:0px;
    width:90%;
}

.previewer .Ptab {
    overflow: hidden;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 90%;
    color:#fff;
}

.previewer .Ptab li {
    background: #626262;
    padding: 5px 25px;
    margin-right: 1px;
    margin-left: 0px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #fff;
}

.previewer .Ptab li.select {
    background: #3e3e3e;
    margin-left: 0px;
}

.previewer .Pcontent li {
    background: #eee;
    padding: 20px;
    margin-left: 0px;
    height:160px;
    overflow:auto;
}

.previewer .hide {
    display: none;
}
